<div class="flex flex-col gap-4 w-full">
  <!-- KEYWORDS TEXTAREA ZONE-->
  <h1 class="font-bold text-2xl text-center w-full">CONCATENATOR</h1>
  <article class="bg-red-700 dark:bg-red-900 gap-4 p-4 rounded-xl text-white">
    <strong>Be careful! </strong>Combining words can take your CPU to 100%,
    which can lead to the following consequences.
    <ul class="ml-8 my-2 list-disc">
      <li>Freeze your browser.</li>
      <li>Reduce the battery in mobile devices.</li>
      <li>This site or device freezes for a couple of seconds (please be patient).</li>
    </ul>
    <strong>Recommendation: </strong> Only use necessary words and combinations.
  </article>
  <article
    class="bg-slate-500 dark:bg-slate-700 grid grid-cols-4 gap-4 p-4 rounded-xl"
  >
    <section class="flex flex-col gap-4 w-full">
      <h2 class="font-bold text-center text-xl w-full">MAIN KEYWORD</h2>
      <textarea
        cols="30"
        rows="16"
        class="bg-slate-400 dark:bg-slate-950 mt-2 p-2 rounded-xl"
        [(ngModel)]="textarea_main"
      ></textarea>
    </section>
    <section class="flex flex-col gap-4 w-full">
      <input
        type="text"
        class="bg-slate-400 dark:bg-slate-950 p-2 placeholder:text-slate-800 dark:placeholder:text-gray-300 rounded"
        placeholder="Classification A"
        [(ngModel)]="input_text_A"
      />
      <textarea
        cols="30"
        rows="16"
        class="bg-slate-400 dark:bg-slate-950 p-2 rounded-xl"
        [(ngModel)]="textarea_A"
      ></textarea>
    </section>
    <section class="flex flex-col gap-4 w-full">
      <input
        type="checkbox"
        class="bg-slate-400 dark:bg-slate-950 p-2 rounded"
        [disabled]="textarea_A.length < 1"
        [(ngModel)]="input_checkbox_B"
      />
      <input
        type="text"
        class="bg-slate-400 dark:bg-slate-950 disabled:cursor-not-allowed disabled:opacity-50 p-2 placeholder:text-slate-800 dark:placeholder:text-gray-300 rounded"
        placeholder="Classification B"
        [disabled]="textarea_A.length < 1"
        [(ngModel)]="input_text_B"
      />
      <textarea
        cols="30"
        rows="15"
        class="bg-slate-400 dark:bg-slate-950 disabled:cursor-not-allowed disabled:opacity-50 p-2 rounded-xl"
        [disabled]="textarea_A.length < 1"
        [(ngModel)]="textarea_B"
      ></textarea>
    </section>

    <section class="flex flex-col gap-4 w-full">
      <input
        type="checkbox"
        class="bg-slate-400 dark:bg-slate-950 disabled:cursor-not-allowed disabled:opacity-50 p-2 rounded"
        [disabled]="!input_checkbox_B"
        [(ngModel)]="input_checkbox_C"
      />
      <input
        type="text"
        class="bg-slate-400 dark:bg-slate-950 disabled:cursor-not-allowed disabled:opacity-50 p-2 placeholder:text-slate-800 dark:placeholder:text-gray-300 rounded"
        placeholder="Classification C"
        [disabled]="!input_checkbox_B"
        [(ngModel)]="input_text_C"
      />
      <textarea
        cols="30"
        rows="15"
        class="bg-slate-400 dark:bg-slate-950 disabled:cursor-not-allowed disabled:opacity-50 p-2 rounded-xl"
        [disabled]="!input_checkbox_B"
        [(ngModel)]="textarea_C"
      ></textarea>
    </section>
  </article>
  <!-- END OF KEYWORDS TEXTAREA ZONE-->

  <!-- SELECT ALL BUTTONS -->
  <article
    class="bg-slate-500 dark:bg-slate-700 flex gap-4 justify-center items-center p-2 rounded-xl"
  >
    <button
      type="button"
      class="bg-slate-600 dark:bg-slate-950 disabled:cursor-not-allowed disabled:opacity-50 px-4 py-2 rounded-xl text-white"
      (click)="onClickButtonSelectAll()"
    >
      Select All
    </button>
    <button
      type="button"
      class="bg-slate-600 dark:bg-slate-950 disabled:cursor-not-allowed disabled:opacity-50 px-4 py-2 rounded-xl text-white"
      (click)="onClickButtonUnSelectAll()"
    >
      Unselect All
    </button>
  </article>
  <!-- END OF SELECT ALL BUTTONS -->

  <!-- COMBINATIONS ZONE-->
  <h2 class="font-bold text-xl text-center w-full">2 keywords combinations</h2>
  <article
    class="bg-slate-500 dark:bg-slate-700 gap-4 flex justify-between p-4 rounded-xl"
  >
    <section class="flex flex-col gap-4">
      <h3 class="text-xl font-bold text-center text-white">
        KEYWORD + {{ input_text_A }} combinations
      </h3>
      <span class="font-bold text-white">Keyword + {{ input_text_A }}</span>
      <div class="flex gap-4">
        <input type="checkbox" name="KA" [(ngModel)]="KA" />
        <label for="KA">Example: {{ K_ARRAY[0] }} {{ A_ARRAY[0] }}</label>
      </div>
      <span class="font-bold text-white"> {{ input_text_A }} + Keyword</span>
      <div class="flex gap-4">
        <input type="checkbox" name="AK" [(ngModel)]="AK" />
        <label for="AK">Example: {{ A_ARRAY[0] }} {{ K_ARRAY[0] }}</label>
      </div>
    </section>
    @defer(when input_checkbox_B){
    <section class="flex flex-col gap-4">
      <h3 class="text-xl font-bold text-center text-white">
        KEYWORD + {{ input_text_B }} combinations
      </h3>
      <span class="font-bold text-white">Keyword + {{ input_text_B }}</span>
      <div class="flex gap-4">
        <input type="checkbox" name="KB" [(ngModel)]="KB" />
        <label for="KB">Example: {{ K_ARRAY[0] }} {{ B_ARRAY[0] }}</label>
      </div>
      <span class="font-bold text-white"> {{ input_text_B }} + Keyword</span>
      <div class="flex gap-4">
        <input type="checkbox" name="BK" [(ngModel)]="BK" />
        <label for="BK">Example: {{ B_ARRAY[0] }} {{ K_ARRAY[0] }}</label>
      </div>
    </section>
    } @defer(when input_checkbox_C){
    <section class="flex flex-col gap-4">
      <h3 class="text-xl font-bold text-center text-white">
        KEYWORD + {{ input_text_C }} combinations
      </h3>
      <span class="font-bold text-white">Keyword + {{ input_text_C }}</span>
      <div class="flex gap-4">
        <input type="checkbox" name="KC" [(ngModel)]="KC" />
        <label for="KC">Example: {{ K_ARRAY[0] }} {{ C_ARRAY[0] }}</label>
      </div>
      <span class="font-bold text-white"> {{ input_text_B }} + Keyword</span>
      <div class="flex gap-4">
        <input type="checkbox" name="CK" [(ngModel)]="CK" />
        <label for="CK">Example: {{ C_ARRAY[0] }} {{ K_ARRAY[0] }}</label>
      </div>
    </section>
    }
  </article>
  @defer(when input_checkbox_B){
  <h2 class="font-bold text-xl text-center w-full">3 keywords combinations</h2>
  <article
    class="bg-slate-500 dark:bg-slate-700 flex gap-4 justify-between items-center p-4 rounded-xl"
  >
    <section class="flex flex-col gap-4">
      <h3 class="text-xl font-bold text-center text-white">
        KEYWORD + {{ input_text_A }} + {{ input_text_B }} combinations
      </h3>
      <span class="font-bold text-white"
        >Keyword + {{ input_text_A }} + {{ input_text_B }}</span
      >
      <div class="flex gap-4">
        <input type="checkbox" name="KAB" [(ngModel)]="KAB" />
        <label for="KAB"
          >Example: {{ K_ARRAY[0] }} {{ A_ARRAY[0] }} {{ B_ARRAY[0] }}</label
        >
      </div>
      <span class="font-bold text-white"
        >Keyword + {{ input_text_B }} + {{ input_text_A }}</span
      >
      <div class="flex gap-4">
        <input type="checkbox" name="KBA" [(ngModel)]="KBA" />
        <label for="KAB"
          >Example: {{ K_ARRAY[0] }} {{ B_ARRAY[0] }} {{ A_ARRAY[0] }}</label
        >
      </div>
      <span class="font-bold text-white">
        {{ input_text_A }} + Keyword + {{ input_text_B }}</span
      >
      <div class="flex gap-4">
        <input type="checkbox" name="AKB" [(ngModel)]="AKB" />
        <label for="AKB"
          >Example: {{ A_ARRAY[0] }} {{ K_ARRAY[0] }} {{ B_ARRAY[0] }}</label
        >
      </div>
      <span class="font-bold text-white">
        {{ input_text_A }} + {{ input_text_B }} + Keyword</span
      >
      <div class="flex gap-4">
        <input type="checkbox" name="ABK" [(ngModel)]="ABK" />
        <label for="ABK"
          >Example: {{ A_ARRAY[0] }} {{ B_ARRAY[0] }} {{ K_ARRAY[0] }}</label
        >
      </div>
      <span class="font-bold text-white">
        {{ input_text_B }} + Keyword + {{ input_text_A }}</span
      >
      <div class="flex gap-4">
        <input type="checkbox" name="BKA" [(ngModel)]="BKA" />
        <label for="BKA"
          >Example: {{ B_ARRAY[0] }} {{ K_ARRAY[0] }} {{ A_ARRAY[0] }}</label
        >
      </div>
      <span class="font-bold text-white">
        {{ input_text_B }} + {{ input_text_A }} + Keyword</span
      >
      <div class="flex gap-4">
        <input type="checkbox" name="BAK" [(ngModel)]="BAK" />
        <label for="BKA"
          >Example: {{ B_ARRAY[0] }} {{ A_ARRAY[0] }} {{ K_ARRAY[0] }}</label
        >
      </div>
    </section>
    @defer(when input_checkbox_C){
    <section class="flex flex-col gap-4">
      <h3 class="text-xl font-bold text-center text-white">
        KEYWORD + {{ input_text_A }} + {{ input_text_C }} combinations
      </h3>
      <span class="font-bold text-white"
        >Keyword + {{ input_text_A }} + {{ input_text_C }}</span
      >
      <div class="flex gap-4">
        <input type="checkbox" name="KAC" [(ngModel)]="KAC" />
        <label for="KAC"
          >Example: {{ K_ARRAY[0] }} {{ A_ARRAY[0] }} {{ C_ARRAY[0] }}</label
        >
      </div>
      <span class="font-bold text-white"
        >Keyword + {{ input_text_C }} + {{ input_text_A }}</span
      >
      <div class="flex gap-4">
        <input type="checkbox" name="KCA" [(ngModel)]="KCA" />
        <label for="KAC"
          >Example: {{ K_ARRAY[0] }} {{ C_ARRAY[0] }} {{ A_ARRAY[0] }}</label
        >
      </div>
      <span class="font-bold text-white">
        {{ input_text_A }} + Keyword + {{ input_text_C }}</span
      >
      <div class="flex gap-4">
        <input type="checkbox" name="AKC" [(ngModel)]="AKC" />
        <label for="AKC"
          >Example: {{ A_ARRAY[0] }} {{ K_ARRAY[0] }} {{ C_ARRAY[0] }}</label
        >
      </div>
      <span class="font-bold text-white">
        {{ input_text_A }} + {{ input_text_C }} + Keyword</span
      >
      <div class="flex gap-4">
        <input type="checkbox" name="ACK" [(ngModel)]="ACK" />
        <label for="ACK"
          >Example: {{ A_ARRAY[0] }} {{ C_ARRAY[0] }} {{ K_ARRAY[0] }}</label
        >
      </div>
      <span class="font-bold text-white">
        {{ input_text_C }} + Keyword + {{ input_text_A }}</span
      >
      <div class="flex gap-4">
        <input type="checkbox" name="CKA" [(ngModel)]="CKA" />
        <label for="CKA"
          >Example: {{ C_ARRAY[0] }} {{ K_ARRAY[0] }} {{ A_ARRAY[0] }}</label
        >
      </div>
      <span class="font-bold text-white">
        {{ input_text_C }} + {{ input_text_A }} + Keyword</span
      >
      <div class="flex gap-4">
        <input type="checkbox" name="CAK" [(ngModel)]="CAK" />
        <label for="CKA"
          >Example: {{ C_ARRAY[0] }} {{ A_ARRAY[0] }} {{ K_ARRAY[0] }}</label
        >
      </div>
    </section>
    <section class="flex flex-col gap-4">
      <h3 class="text-xl font-bold text-center text-white">
        {{ input_text_A }} + KEYWORD + {{ input_text_B }} +{{ input_text_C }}
        combinations
      </h3>

      <span class="font-bold text-white"
        >Keyword + {{ input_text_B }} + {{ input_text_C }}</span
      >
      <div class="flex gap-4">
        <input type="checkbox" name="KBC" [(ngModel)]="KBC" />
        <label for="KBC"
          >Example: {{ K_ARRAY[0] }} {{ B_ARRAY[0] }} {{ C_ARRAY[0] }}</label
        >
      </div>
      <span class="font-bold text-white"
        >Keyword + {{ input_text_C }} + {{ input_text_B }}</span
      >
      <div class="flex gap-4">
        <input type="checkbox" name="KCB" [(ngModel)]="KCB" />
        <label for="KBC"
          >Example: {{ K_ARRAY[0] }} {{ C_ARRAY[0] }} {{ B_ARRAY[0] }}</label
        >
      </div>
      <span class="font-bold text-white">
        {{ input_text_B }} + Keyword + {{ input_text_C }}</span
      >
      <div class="flex gap-4">
        <input type="checkbox" name="BKC" [(ngModel)]="BKC" />
        <label for="BKC"
          >Example: {{ B_ARRAY[0] }} {{ K_ARRAY[0] }} {{ C_ARRAY[0] }}</label
        >
      </div>
      <span class="font-bold text-white">
        {{ input_text_B }} + {{ input_text_C }} + Keyword</span
      >
      <div class="flex gap-4">
        <input type="checkbox" name="BCK" [(ngModel)]="BCK" />
        <label for="BCK"
          >Example: {{ B_ARRAY[0] }} {{ C_ARRAY[0] }} {{ K_ARRAY[0] }}</label
        >
      </div>
      <span class="font-bold text-white">
        {{ input_text_C }} + Keyword + {{ input_text_B }}</span
      >
      <div class="flex gap-4">
        <input type="checkbox" name="CKB" [(ngModel)]="CKB" />
        <label for="CKB"
          >Example: {{ C_ARRAY[0] }} {{ K_ARRAY[0] }} {{ B_ARRAY[0] }}</label
        >
      </div>
      <span class="font-bold text-white">
        {{ input_text_C }} + {{ input_text_B }} + Keyword</span
      >
      <div class="flex gap-4">
        <input type="checkbox" name="CBK" [(ngModel)]="CBK" />
        <label for="CKB"
          >Example: {{ C_ARRAY[0] }} {{ B_ARRAY[0] }} {{ K_ARRAY[0] }}</label
        >
      </div>
    </section>
    }
  </article>
  } @defer(when input_checkbox_C){
  <h2 class="font-bold text-xl text-center w-full">4 keywords combinations</h2>
  <article
    class="bg-slate-500 dark:bg-slate-700 grid grid-cols-4 gap-4 p-4 rounded-xl"
  >
    <!--K-->
    <section class="flex flex-col gap-4">
      <h3 class="text-xl font-bold text-center text-white">
        Starting by Keyword
      </h3>
      <span class="font-bold text-white"
        >Keyword + {{ input_text_A }} + {{ input_text_B }} +
        {{ input_text_C }}</span
      >
      <div class="flex gap-4">
        <input type="checkbox" name="KABC" [(ngModel)]="KABC" />
        <label for="KABC"
          >Example: {{ K_ARRAY[0] }} {{ A_ARRAY[0] }} {{ B_ARRAY[0] }}
          {{ C_ARRAY[0] }}</label
        >
      </div>

      <span class="font-bold text-white"
        >Keyword + {{ input_text_A }} + {{ input_text_C }} +
        {{ input_text_B }}</span
      >
      <div class="flex gap-4">
        <input type="checkbox" name="KACB" [(ngModel)]="KACB" />
        <label for="KACB"
          >Example: {{ K_ARRAY[0] }} {{ A_ARRAY[0] }} {{ C_ARRAY[0] }}
          {{ B_ARRAY[0] }}</label
        >
      </div>

      <span class="font-bold text-white"
        >Keyword + {{ input_text_B }} + {{ input_text_A }} +
        {{ input_text_C }}</span
      >
      <div class="flex gap-4">
        <input type="checkbox" name="KBAC" [(ngModel)]="KBAC" />
        <label for="KBAC"
          >Example: {{ K_ARRAY[0] }} {{ B_ARRAY[0] }} {{ A_ARRAY[0] }}
          {{ C_ARRAY[0] }}</label
        >
      </div>

      <span class="font-bold text-white"
        >Keyword + {{ input_text_B }} + {{ input_text_C }} +
        {{ input_text_A }}</span
      >
      <div class="flex gap-4">
        <input type="checkbox" name="KBCA" [(ngModel)]="KBCA" />
        <label for="KBCA"
          >Example: {{ K_ARRAY[0] }} {{ B_ARRAY[0] }} {{ C_ARRAY[0] }}
          {{ A_ARRAY[0] }}</label
        >
      </div>

      <span class="font-bold text-white"
        >Keyword + {{ input_text_C }} + {{ input_text_A }} +
        {{ input_text_B }}</span
      >
      <div class="flex gap-4">
        <input type="checkbox" name="KCAB" [(ngModel)]="KCAB" />
        <label for="KCAB"
          >Example: {{ K_ARRAY[0] }} {{ C_ARRAY[0] }} {{ A_ARRAY[0] }}
          {{ B_ARRAY[0] }}</label
        >
      </div>

      <span class="font-bold text-white"
        >Keyword + {{ input_text_C }} + {{ input_text_B }} +
        {{ input_text_A }}</span
      >
      <div class="flex gap-4">
        <input type="checkbox" name="KCBA" [(ngModel)]="KCBA" />
        <label for="KCBA"
          >Example: {{ K_ARRAY[0] }} {{ C_ARRAY[0] }} {{ B_ARRAY[0] }}
          {{ A_ARRAY[0] }}</label
        >
      </div>
    </section>

    <!--A-->
    <section class="flex flex-col gap-4">
      <h3 class="text-xl font-bold text-center text-white">
        Starting by {{ input_text_A }}
      </h3>
      <span class="font-bold text-white"
        >{{ input_text_A }} + Keyword + {{ input_text_C }} +
        {{ input_text_B }}</span
      >
      <div class="flex gap-4">
        <input type="checkbox" name="AKCB" [(ngModel)]="AKCB" />
        <label for="AKCB"
          >Example: {{ A_ARRAY[0] }} {{ K_ARRAY[0] }} {{ C_ARRAY[0] }}
          {{ B_ARRAY[0] }}</label
        >
      </div>

      <span class="font-bold text-white"
        >{{ input_text_A }} + Keyword + {{ input_text_B }} +
        {{ input_text_C }}</span
      >
      <div class="flex gap-4">
        <input type="checkbox" name="AKBC" [(ngModel)]="AKBC" />
        <label for="AKBC"
          >Example: {{ A_ARRAY[0] }} {{ K_ARRAY[0] }} {{ B_ARRAY[0] }}
          {{ C_ARRAY[0] }}</label
        >
      </div>

      <span class="font-bold text-white"
        >{{ input_text_A }} + {{ input_text_B }} + {{ input_text_C }} +
        KEYWORD</span
      >
      <div class="flex gap-4">
        <input type="checkbox" name="ABCK" [(ngModel)]="ABCK" />
        <label for="ABCK"
          >Example: {{ A_ARRAY[0] }} {{ B_ARRAY[0] }} {{ C_ARRAY[0] }}
          {{ K_ARRAY[0] }}</label
        >
      </div>

      <span class="font-bold text-white"
        >{{ input_text_A }} + {{ input_text_B }} + Keyword +
        {{ input_text_C }}</span
      >
      <div class="flex gap-4">
        <input type="checkbox" name="ABKC" [(ngModel)]="ABKC" />
        <label for="ABKC"
          >Example: {{ A_ARRAY[0] }} {{ B_ARRAY[0] }} {{ K_ARRAY[0] }}
          {{ C_ARRAY[0] }}</label
        >
      </div>

      <span class="font-bold text-white"
        >{{ input_text_A }} + {{ input_text_C }} + {{ input_text_B }} +
        KEYWORD</span
      >
      <div class="flex gap-4">
        <input type="checkbox" name="ACBK" [(ngModel)]="ACBK" />
        <label for="ACBK"
          >Example: {{ A_ARRAY[0] }} {{ C_ARRAY[0] }} {{ B_ARRAY[0] }}
          {{ K_ARRAY[0] }}</label
        >
      </div>

      <span class="font-bold text-white"
        >{{ input_text_A }} + {{ input_text_C }} + Keyword +
        {{ input_text_B }}</span
      >
      <div class="flex gap-4">
        <input type="checkbox" name="ACKB" [(ngModel)]="ACKB" />
        <label for="ACKB"
          >Example: {{ A_ARRAY[0] }} {{ C_ARRAY[0] }} {{ K_ARRAY[0] }}
          {{ B_ARRAY[0] }}</label
        >
      </div>
    </section>
    <!--B-->
    <section class="flex flex-col gap-4">
      <h3 class="text-xl font-bold text-center text-white">
        Starting by {{ input_text_B }}
      </h3>
      <span class="font-bold text-white"
        >{{ input_text_B }} + Keyword + {{ input_text_A }} +
        {{ input_text_C }}</span
      >
      <div class="flex gap-4">
        <input type="checkbox" name="BKAC" [(ngModel)]="BKAC" />
        <label for="BKAC"
          >Example: {{ B_ARRAY[0] }} {{ K_ARRAY[0] }} {{ A_ARRAY[0] }}
          {{ C_ARRAY[0] }}</label
        >
      </div>

      <span class="font-bold text-white"
        >{{ input_text_B }} + Keyword + {{ input_text_C }} +
        {{ input_text_A }}</span
      >
      <div class="flex gap-4">
        <input type="checkbox" name="BKCA" [(ngModel)]="BKCA" />
        <label for="BKCA"
          >Example: {{ B_ARRAY[0] }} {{ K_ARRAY[0] }} {{ C_ARRAY[0] }}
          {{ A_ARRAY[0] }}</label
        >
      </div>

      <span class="font-bold text-white"
        >{{ input_text_B }} + {{ input_text_A }} + Keyword +
        {{ input_text_C }}</span
      >
      <div class="flex gap-4">
        <input type="checkbox" name="BAKC" [(ngModel)]="BAKC" />
        <label for="BAKC"
          >Example: {{ B_ARRAY[0] }} {{ A_ARRAY[0] }} {{ K_ARRAY[0] }}
          {{ C_ARRAY[0] }}</label
        >
      </div>

      <span class="font-bold text-white"
        >{{ input_text_B }} + {{ input_text_A }} + {{ input_text_C }} +
        KEYWORD</span
      >
      <div class="flex gap-4">
        <input type="checkbox" name="BACK" [(ngModel)]="BACK" />
        <label for="BACK"
          >Example: {{ B_ARRAY[0] }} {{ A_ARRAY[0] }} {{ C_ARRAY[0] }}
          {{ K_ARRAY[0] }}</label
        >
      </div>

      <span class="font-bold text-white"
        >{{ input_text_B }} + {{ input_text_C }} + Keyword +
        {{ input_text_A }}</span
      >
      <div class="flex gap-4">
        <input type="checkbox" name="BCKA" [(ngModel)]="BCKA" />
        <label for="BCKA"
          >Example: {{ B_ARRAY[0] }} {{ C_ARRAY[0] }} {{ K_ARRAY[0] }}
          {{ A_ARRAY[0] }}</label
        >
      </div>

      <span class="font-bold text-white"
        >{{ input_text_B }} + {{ input_text_C }} + {{ input_text_A }} +
        KEYWORD</span
      >
      <div class="flex gap-4">
        <input type="checkbox" name="BCAK" [(ngModel)]="BCAK" />
        <label for="BCAK"
          >Example: {{ B_ARRAY[0] }} {{ C_ARRAY[0] }} {{ A_ARRAY[0] }}
          {{ K_ARRAY[0] }}</label
        >
      </div>
    </section>
    <!--C-->
    <section class="flex flex-col gap-4">
      <h3 class="text-xl font-bold text-center text-white">
        Starting by {{ input_text_C }}
      </h3>
      <span class="font-bold text-white"
        >{{ input_text_C }} + Keyword + {{ input_text_B }} +
        {{ input_text_A }}</span
      >
      <div class="flex gap-4">
        <input type="checkbox" name="CKBA" [(ngModel)]="CKBA" />
        <label for="CKBA"
          >Example: {{ C_ARRAY[0] }} {{ K_ARRAY[0] }} {{ B_ARRAY[0] }}
          {{ A_ARRAY[0] }}</label
        >
      </div>

      <span class="font-bold text-white"
        >{{ input_text_C }} + Keyword + {{ input_text_A }} +
        {{ input_text_B }}</span
      >
      <div class="flex gap-4">
        <input type="checkbox" name="CKAB" [(ngModel)]="CKAB" />
        <label for="CKAB"
          >Example: {{ C_ARRAY[0] }} {{ K_ARRAY[0] }} {{ A_ARRAY[0] }}
          {{ B_ARRAY[0] }}</label
        >
      </div>

      <span class="font-bold text-white"
        >{{ input_text_C }} + {{ input_text_A }} + {{ input_text_B }} +
        KEYWORD</span
      >
      <div class="flex gap-4">
        <input type="checkbox" name="CABK" [(ngModel)]="CABK" />
        <label for="CABK"
          >Example: {{ C_ARRAY[0] }} {{ A_ARRAY[0] }} {{ B_ARRAY[0] }}
          {{ K_ARRAY[0] }}</label
        >
      </div>

      <span class="font-bold text-white"
        >{{ input_text_C }} + {{ input_text_A }} + Keyword +
        {{ input_text_B }}</span
      >
      <div class="flex gap-4">
        <input type="checkbox" name="CAKB" [(ngModel)]="CAKB" />
        <label for="CAKB"
          >Example: {{ C_ARRAY[0] }} {{ A_ARRAY[0] }} {{ K_ARRAY[0] }}
          {{ B_ARRAY[0] }}</label
        >
      </div>

      <span class="font-bold text-white"
        >{{ input_text_C }} + {{ input_text_B }} + {{ input_text_A }} +
        KEYWORD</span
      >
      <div class="flex gap-4">
        <input type="checkbox" name="CBAK" [(ngModel)]="CBAK" />
        <label for="CBAK"
          >Example: {{ C_ARRAY[0] }} {{ B_ARRAY[0] }} {{ A_ARRAY[0] }}
          {{ K_ARRAY[0] }}</label
        >
      </div>

      <span class="font-bold text-white"
        >{{ input_text_C }} + {{ input_text_B }} + Keyword +
        {{ input_text_A }}</span
      >
      <div class="flex gap-4">
        <input type="checkbox" name="CBKA" [(ngModel)]="CBKA" />
        <label for="CBKA"
          >Example: {{ C_ARRAY[0] }} {{ B_ARRAY[0] }} {{ K_ARRAY[0] }}
          {{ A_ARRAY[0] }}</label
        >
      </div>
    </section>
  </article>
  }
  <h2 class="font-bold text-xl text-center w-full">Combinations</h2>
  <article
    class="bg-slate-500 dark:bg-slate-700 flex gap-4 justify-between items-center p-4 rounded-xl"
  >
    <span><strong>Status</strong> {{ text_status_indicator }}</span>
    <button
      type="button"
      class="bg-blue-500 dark:bg-blue-950 disabled:cursor-not-allowed disabled:opacity-50 px-4 py-2 rounded-xl text-white"
      (click)="onClickButtonGenerate()"
    >
      Generate
    </button>
    <button
      type="button"
      class="bg-sky-500 dark:bg-sky-700 disabled:cursor-not-allowed disabled:opacity-50 px-4 py-2 rounded-xl text-white"
      (click)="onClickButtonCopy()"
    >
      Copy results
    </button>
  </article>
  <article
    class="bg-slate-500 dark:bg-slate-700 flex flex-col gap-4 justify-center items-center p-4 rounded-xl"
  >
    <textarea
      rows="16"
      class="bg-slate-400 dark:bg-slate-950 mt-2 p-2 rounded-xl w-full"
      [(ngModel)]="textarea_results"
    ></textarea>
    <button
      type="button"
      class="bg-red-400 dark:bg-red-950 px-4 py-2 rounded-xl text-white"
      (click)="onClickButtonReset()"
    >
      Reset
    </button>
  </article>
</div>
