<nav
  class="bg-slate-400 dark:dark:bg-slate-900 flex justify-center items-center p-4 rounded-xl w-full"
>
  <div class="flex gap-4">
    <a
      routerLink="/projects/"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      [routerLinkActiveOptions]="{ exact: true }"
      >Project</a
    >
    @if (hasActiveProject) {

    <a
      routerLink="/projects/classifier"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Classifier</a
    >
    <a
      routerLink="/projects/structurer"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Structurer</a
    >
    }@else {
    <span class="hover:cursor-not-allowed opacity-50">Classifier</span>
    <span class="hover:cursor-not-allowed opacity-50">structurer</span>
    }
  </div>
</nav>
<div class="block mt-4">
  <router-outlet />
</div>
