<div class="flex gap-4 mb-4 row">
  <article class="bg-slate-300 dark:bg-slate-950 p-4 rounded-2xl w-full">
    <h1 class="text-2xl text-center mb-4">KEYWORD RESEARCH OPEN SOURCE TOOL</h1>

    <p>
      The perfect toolbox for manipulate, classify and structure your keywords.
    </p>
  </article>
</div>
<div class="flex gap-4 mb-4 row">
  <article class="bg-slate-300 dark:bg-slate-950 p-4 rounded-2xl w-full">
      <h2 class="text-xl font-bold">CONSIDERATIONS</h2>
    <section>
      <ol class="list-disc p-4">
        <li class="mb-4">
          All process executes in your device, this means that performance of
          the tool it's linked to power of your device.
        </li>
        <li class="mb-4">
          This tool use Localstorage for manage the information (a database
          integrated in your browser), this means that the limit of information
          that can process is of 5Mb (around 50K keywords)
        </li>
        <li class="mb-4">
          The tools are under constructions it's possible that could fail or
          give errors
        </li>
      </ol>
    </section>
  </article>
</div>
<div class="flex gap-4 mb-4 row">
  <article class="bg-slate-300 dark:bg-slate-950 p-4 rounded-2xl w-full">
      <h3 class="text-xl font-bold">Available tools</h3>
    <section>
      <ol class="list-disc p-4">
        <li class="mb-4">
          <span class="font-bold">Concatenator: </span> mix different keywords
          for get variants
        </li>
        <li class="mb-4">
          <span class="font-bold">Cleaner: </span> clean your keywords list to
          Google Keyword planner requirements
        </li>
        <li class="mb-4">
          <span class="font-bold">Projects: </span> classify the keywords, and
          make informational and transactional estructure
        </li>
      </ol>
    </section>
  </article>
  <article class="bg-slate-300 dark:bg-slate-950 p-4 rounded-2xl w-full">
      <h3 class="text-xl font-bold">Features</h3>
    <section>
      <ol class="list-disc p-4">
        <li class="mb-4">
          <span class="font-bold">Open source: </span> available in
          <a href="https://github.com/nandolopez/OpenKWRTool">Github</a>
        </li>
        <li class="mb-4">
          <span class="font-bold">Customizable: </span> with Vuestic +
          Tailwindcss power
        </li>
        <li class="mb-4">
          <span class="font-bold">Local work: </span> all this tools work in
          your browser, this website doesn't collect information
        </li>
        <li class="mb-4">
          <span class="font-bold">Local deploy: </span> do you want use in your
          business? download from
          <a href="https://github.com/nandolopez/OpenKWRTool">Github</a> and
          deploy a local copy
        </li>
      </ol>
    </section>
  </article>
</div>
